@model IEnumerable<TimeSheet.MVC.Models.TimeClock>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Clock In</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClockIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InLunch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutLunch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClockOut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClockIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InLunch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutLunch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClockOut)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Break/Clock Out</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

